**In this notebook we will forecast the ranking of groups For the FIFA World Cup Qatar 2022 based on average match wins in official matches from 1872 to 2022**

In [1]:
import pandas as pd #getting pandas 

groups_df = pd.read_csv('/kaggle/input/soccer-world-cup-challenge/2022_world_cup_groups.csv')
#Groups DataFrame
im_df = pd.read_csv('/kaggle/input/soccer-world-cup-challenge/international_matches.csv')
#International Matches DataFrame

### This section we will cheak the data quality

In [2]:
groups_df.head()

  Group         Team  FIFA Ranking
0     A        Qatar            50
1     A      Ecuador            44
2     A      Senegal            18
3     A  Netherlands             8
4     B      England             5

In [3]:
groups_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Group         32 non-null     object
 1   Team          32 non-null     object
 2   FIFA Ranking  32 non-null     int64
dtypes: int64(1), object(2)
memory usage: 896.0+ bytes

>#### Groups DataFrame is Clear

In [4]:
"""
This Function will convert the columns name to lower case and convert white spaces between
the words to underscore
"""
def fix_cols_names (df):
    df.rename(lambda x: x.lower().strip().replace(' ', '_'), axis='columns', inplace=True)

In [5]:
fix_cols_names(groups_df)
fix_cols_names(im_df)

In [6]:
im_df.head()

,id,tournament,date,home_team,home_goals,away_goals,away_team,winning_team,losing_team,win_conditions,home_stadium
0,1,Friendly,1872-11-30,Scotland,0,0,England,NaN,NaN,NaN,True
1,2,Friendly,1873-03-08,England,4,2,Scotland,England,Scotland,NaN,True
2,3,Friendly,1874-03-07,Scotland,2,1,England,Scotland,England,NaN,True
3,4,Friendly,1875-03-06,England,2,2,Scotland,NaN,NaN,NaN,True
4,5,Friendly,1876-03-04,Scotland,3,0,England,Scotland,England,NaN,True

#### The International Matches DataFrame has missing values in winning_team column which expresses a tie we will left it and we will delete the friendly matches

In [7]:
im_df.isna().sum()

id                    0
tournament            0
date                  0
home_team             0
home_goals            0
away_goals            0
away_team             0
winning_team       4170
losing_team        4170
win_conditions    17568
home_stadium          0
dtype: int64

In [8]:
im_df = im_df[im_df['tournament'] != 'Friendly']#filter the friendly matches
im_df.isna().sum()

id                   0
tournament           0
date                 0
home_team            0
home_goals           0
away_goals           0
away_team            0
winning_team      2249
losing_team       2249
win_conditions    9719
home_stadium         0
dtype: int64

### Data now is ready for our prediction

In [9]:
groups = groups_df['group'].unique()
groups
#here we get Groups to fillter Groups DataFrame with it to deal with each group Separately

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'], dtype=object)

In [10]:
for group in groups:#loop on Groups DataFrame With group to deal with each group Separately
    teams = groups_df[groups_df['group'] == group].team.unique()#Getting each group teams
    print('group',group)#print the group we working with
    dic = {} #this dictionary to hold each team and its avverage wining
    for team in teams:#this loop to count avverage wining for each team in the group
        all_matches = im_df[(im_df['home_team'] == team)|(im_df['away_team'] == team)].id.count()
        win_matches = im_df[im_df['winning_team'] == team].id.count()
        """the above to lines I filtterd the international mathes data frame to get all 
        matches for a team and the total wining matches to count the aveage winning"""
        avv_win = win_matches/all_matches
        dic[team] = avv_win #append the team name and its avvrage winning to the dictionary
    sorted_dic = sorted(dic.items() , key = lambda x:x[1], reverse=True)#sort the dictionary
    for ind,team in enumerate(sorted_dic):#this loop print the ranked group
        print(ind+1,team[0])
    print()

group A
1 Netherlands
2 Senegal
3 Qatar
4 Ecuador

group B
1 Iran
2 England
3 United States
4 Wales

group C
1 Mexico
2 Argentina
3 Saudi Arabia
4 Poland

group D
1 Australia
2 France
3 Denmark
4 Tunisia

group E
1 Germany
2 Spain
3 Japan
4 Costa Rica

group F
1 Croatia
2 Belgium
3 Morocco
4 Canada

group G
1 Brazil
2 Cameroon
3 Serbia
4 Switzerland

group H
1 South Korea
2 Portugal
3 Ghana
4 Uruguay